#p1{
    text-align: center;
    line-height: 0.2;
    font-size: large;
    opacity: 0.4;
}
#bg1{
    background-color: rgb(243, 107, 17);
    width: 40px;
    height: 40px;
    color: white;
    font-size: x-small;
    margin-left: 200px;
}
#bg2{
    background-color: rgb(243, 107, 17);
    width: 40px;
    height: 40px;
    color: white;
    font-size: x-small;
    margin-left: 470px;
    margin-top: -53px;
}
#bg3{
    background-color:rgb(243, 107, 17);
    width: 40px;
    height: 40px;
    color: white;
    font-size: x-small;
    margin-left: 730px;
    margin-top: -50px;
}
#bg4{
    background-color:rgb(243, 107, 17);
    width: 40px;
    height: 40px;
    color: white;
    font-size: x-small;
    margin-left: 990px;
    margin-top: -53px;

}
p{
    text-align: center;
    padding-top: 10px;
}
.background{
    margin-top: 60px;
}
#b1{
    margin-top: 30px;
    margin-left: 30px;
}
b{
    padding-left: 140px;
}